body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.sidebar {
    display: block;
    position: sticky;
    width: 15%;
    position: -webkit-sticky;
    top: 0;
    justify-content: start;
    box-sizing: border-box;
    margin: 0 0 auto 0;
}

.sidebar-head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.sidebar-item {
    background-color: cornflowerblue;
    padding: 0.2rem;
    border-radius: 0 0.2rem 0.2rem 0;
    margin: 0 auto 2% 0;
}

.sidebar-item>a {
    text-decoration: none;
}

.content {
    width: 70%;
    margin: 0 auto auto 0;
    box-sizing: border-box;
    background-color: lightblue;
    text-align: center;
}
.topic-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.items {
    margin: 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.items>p {
    text-align: justify;
}

.items:nth-child(odd) {
    background-color: navy;
}

.items:nth-child(even) {
    background-color: aqua;
}

.more-info-content {
    display: none;
}

.more-info:focus-within+.more-info-content {
    display: block;
}