body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.banner {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.sidebar {
    display: block;
    position: sticky;
    width: 5%;
    overflow: hidden;
    top: 20%;
    justify-content: start;
    box-sizing: border-box;
    margin: 0 10% auto 0;
    opacity: 0;
}

.fadeIn {
    -webkit-animation: fadeIn 1s both;
    -moz-animation: fadeIn 1s both;
    -o-animation: fadeIn 1s both;
    animation: fadeIn 1s both;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@-o-keyframes fadeIn {
    0%{
        opacity: 0;
        -o-transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.sidebar:hover {
    width: 15%;
    overflow: auto;
    margin: 0 0 auto 0;
    transition: all 0.15s ease-in-out;
}

.sidebar-head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.sidebar-item {
    background-color: cornflowerblue;
    padding: 0.2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    margin: 0 auto 0.25rem 0;
    font-family: 'Ubuntu', sans-serif;
}

.sidebar-item>a {
    text-decoration: none;
}

.content {
    width: 70%;
    margin: 0 auto auto 0;
    box-sizing: border-box;
    background-color: lightblue;
    text-align: center;
}
.topic-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.items {
    margin: 0;
    padding: 0.3rem;
    border-radius: 0rem;
}

.items>p {
    text-align: justify;
}

.items:nth-child(odd) {
    background-color: gray;
    border: solid red;
    border-width: 0.1rem 0.1rem 0.05rem 0;
}

.items:nth-child(odd) img {
    float: right;
}

.items:nth-child(even) {
    background-color: paleturquoise;
    border: solid red;
    border-width: 0.05rem 0 0 0.1rem;
}

.items:nth-child(even) img {
    float: left;
}

.more-info {
    color: black;
    background: white;
    -webkit-box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    padding: 0.75rem;
    border: unset;
    border-radius: 0.75rem;
    margin: 0 0 1rem 0;
}
.more-info-content {
    opacity: 0;
    height: 0;
    transform: translateY(-25%);
    padding: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.more-info-content img {
    max-width: 50%;
    max-height: 50%;
}
.more-info-content p {
    max-width: 50%;
}
.more-info.active, .more-info:hover {
    color: white;
    background: hsla(225, 40%, 18%,1);
    padding: 0.75rem;
    border: unset;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.75);
    transition: all 0.15s ease-in-out;
}

.more-info.active+.more-info-content {
    opacity: 1;
    height: fit-content;
    transform: translateY(0);
    margin: 0;
    overflow: auto;
    pointer-events: auto;
    transition: all 0.1s ease-in-out;
}